<div class="container-fluid">
    <div class="row footer-row-1">
        <div class="col-6 qkLinks">
            <p>Quick Links</p>
           
            <span>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
            </span>
            <span>
                <a href="">8</a>
                <a href="">9</a>
            </span>
        </div>
        <div class="col-6">
            <p>Contact us</p>

        </div>
    </div>
    <div class="row footer-row-2">
        <span>Copoyright</span>
    </div>
</div>