<app-header></app-header>
<app-search-loc></app-search-loc>
<div class="container-fluid"><br><br>
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-10">
            <input [(ngModel)]="searchtext" class="search-card" placeholder="Search Categories" aria-label="search">
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mt-1">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="categories-card mt-4" >
                <!-- <div *ngFor="let item of categoriesData|filter:searchtext" class="categories-card-child">
                    <p>{{item.category}}</p>
                </div> -->
                <div class="card" *ngFor="let item of categoriesData|filter:searchtext" (click)="checkToken(item._id,item.category)">
                    <img src="../../../assets/images/food.png" class="card-img-top" alt="..."><br>
                    <p class="card-title">{{item.category}}</p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<!-- <app-footer></app-footer> -->