.container-fluid {
    background-color: #ffffff;

}

.category-heading {
    font-family: "Nunito Sans";
    font-size: 21px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;

}


.categories-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.categories-card-child {
    flex: 0 0 auto;
    /* width: calc((100% - 45* 10px) / 6); */
    width: 100px;
    height: 7em;
    box-shadow: 0px 1px 5px 1px #00000040;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-card {
    width: 18em;
    height: 3rem;
    border-radius: 3px;
    outline: none;

    border: 2px solid #0000003D
}

.categories-card-child p {
    text-transform: capitalize;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0.01em;
    text-align: center;

}

:placeholder {
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000085;
}

.card {
    padding: 10px;
    width: 120px;
    height: 120px;
    box-shadow: 0px 1px 5px 1px #00000040;

}

.card-img-top {
    width: 50%;
    height: 50%;
    display: block;
    place-self: center;

}

.card-title {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}