<div class="container-fluid">
    <form [formGroup]="signup">
        <div class="row-card">
            <div class="card login-card">
                <div class="card-body">
                    <div class="toggle">
                        <span routerLink="/login" routerLinkActive="active">
                            <a routerLink="/login" routerLinkActive="active">
                                Login
                            </a>
                        </span>
                        <span routerLink="/signup" routerLinkActive="active">
                            <a routerLink="/signup" routerLinkActive="active">
                                Signup
                            </a>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="firstname">First Name</label>
                            <input type="text" name="firstname" id="firstname" class="form-control shadow-none"
                                formControlName="firstName">
                        </div>
                        <div class="col-sm">
                            <label for="lastname">Last Name</label>
                            <input type="text" name="lastname" id="lastname" class="form-control shadow-none"
                                formControlName="lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control shadow-none"
                                formControlName="email">
                        </div>
                        <div class="col-sm">
                            <label for="phno">Mobile Number</label>
                            <input type="number" name="phno" id="phno" class="form-control shadow-none"
                                formControlName="phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="location">Location</label>
                            <select name="location" id="location" class="form-control shadow-none"
                                (change)="Handler($event)" formControlName="currentLocation">
                                <option value=""></option>
                                <option *ngFor="let item of locationData" [value]=item.city>{{item.city}} </option>
                            </select>
                            <!-- <ng-select [items]="locationData" [multiple]="false" [closeOnSelect]="false"
                                            [searchable]="true" bindLabel="city" placeholder="Select"
                                            (change)="Handler($event)"   formControlName="currentLocation">
                                        </ng-select> -->
                        </div>
                        <!-- <div class="col-sm">
                            <label for="Categories">Select Categories / Interests</label>
                          
                            <ng-select [items]="categoryData" [multiple]="true" [closeOnSelect]="false"
                                    [searchable]="true" bindLabel="category" placeholder="Select"
                                    (change)="categoryHandler($event)"  formControlName="categoryName">
                                </ng-select>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="password">Create Password</label>
                            <input type="text" name="password" id="password" class="form-control shadow-none"
                                formControlName="password">
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a class="btn btn-primary" type="button" (click)="submit()">Submit</a>
                    </div>
                </div>
            </div>
        </div> {{this.signup.value|json}}
    </form>

</div>