<app-header></app-header>
<app-search-loc></app-search-loc>
<!-- Announcements block -->
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="home-heading">Announcements</h3>
            <div class="card announcement-card">

            </div>
        </div>
        <div class="col-1"></div>
    </div>

<br>
       <!-- category block -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="home-heading">Available Categories in Malleshwaram</h3>
            <div class="categories-card" >
                <ng-container *ngFor="let item of categoriesData | slice:0:(showAllCategories ? categoriesData.length : maxCategoriesToShow)" >
                    <div class="categories-card-child">
                        <p>{{item.category}}</p>
                       
                    </div>
                </ng-container>
                <div  *ngIf="!showAllCategories && categoriesData.length > maxCategoriesToShow" class="categories-card-child" routerLink="/allCategory">
                    <p >Show more</p>
                </div>
            </div>
            
        </div>
        <div class="col-1"></div>
    </div>
<br>

         <!-- adverstisment block -->
<div class="container-fluid">
 
    <div class="col-12 int-advt">
   
       
    </div>
   
</div>
       <div class="container-fluid ">
        <div class="col-12 ext-advt">
     
    
        </div>
       </div>
</div>

<br>
<app-footer></app-footer>