<div class="container-fluid">
    <app-header></app-header>
    <div class="row">
        <div class="col-3">
            <app-side-prof></app-side-prof>
        </div>
        <div class="col-9">
            <form action="" [formGroup]="selectedCategoriesFormName">
                <div class="card">
                    <div class="listing-details-tabs">
                        <input type="radio" name="listing-details-tabs" id="listing-details-tabs-1" value="" checked>
                        <label for="listing-details-tabs-1">{{selectedServiceCategory}}</label>
                        <div id="listing-details-tabs-content-1">
                            <form action="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="businessName">Business Name <span
                                                    class="mandatoryField">*</span></label>
                                            <input type="text" class="form-control shadow-none" name="businessName"
                                                id="businessName" (change)="businessName($event)" >
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="shortDescription">Short Description <span
                                                    class="mandatoryField">*</span></label>
                                            <textarea class="form-control shadow-none" name="shortDescription"
                                                id="shortDescription" (change)="shortDesc($event)"></textarea>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="category">Category <span class="mandatoryField">*</span>
                                                &nbsp;
                                                <div class="tooltip"><span><img
                                                            src="../../../assets/icons/question-circle-fill.png"
                                                            alt="Help"></span>
                                                    <span class="tooltiptext">Tooltip text</span>
                                                </div>
                                            </label>
                                            <select name="category" id="category" class="form-control shadow-none"
                                                (change)="selectCatHandler($event)" formControlName="categoryName">
                                                <option value=""></option>
                                                <option *ngFor="let cat of categories" [value]=cat.category>
                                                    {{cat.category}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm">
                                            <label for="subCat1">Sub Category 1 </label>
                                            <select name="subCat1" id="subCat1" class="form-control shadow-none"
                                                (change)="selectSubCat1Handler($event)" formControlName="subCategory1">
                                                <option value=""></option>
                                                <option *ngFor="let cat of subCat1" [value]=cat.subCategory>
                                                    {{cat.subCategory}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm">
                                            <label for="subCat2">Sub Category 2 </label>
                                            <select name="subCat2" id="subCat2" class="form-control shadow-none"
                                                (change)="selectSubCat2Handler($event)" formControlName="subCategory2">
                                                <option value=""></option>
                                                <option *ngFor="let cat of subCat2" [value]=cat.type>{{cat.type}}
                                                </option>
                                            </select>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="subCat3">Sub Category 3 </label>
                                            <select name="subCat3" id="subCat3" class="form-control shadow-none"
                                                (change)="selectSubCat3Handler($event)" formControlName="subCategory3">
                                                <option value=""></option>
                                                <option *ngFor="let cat of subCat3" [value]=cat.aminities>
                                                    {{cat.aminities
                                                    }}
                                                </option>
                                            </select>
                                        </div>
                                        <!-- <div class="col-sm">
                                <label for="subCat4">Sub Category 4 </label>
                                <select name="subCat4" id="subCat4" class="form-control shadow-none">
                                    <option *ngFor="let cat of subCat4" [value]=cat.category>{{cat.category}}
                                    </option>
                                </select>
                            </div> -->
                                    </div><br>
                                    <!-- <p>Address</p><div class="row address-row"></div> -->
                                    <div class="container-accordion">
                                        <div class="accordion">
                                            <div class="option">
                                                <!-- <input class="toggle" [id]="i" type="checkbox" /> -->
                                                <input class="toggle" id="acc" type="checkbox" />
                                                <!-- <label class="title" [for]="i"> -->
                                                <label class="title" for="acc">
                                                    <div class="row title-row">
                                                        Address, Contact Details, Working Hours
                                                    </div>
                                                </label>
                                                <div class="content">
                                                    <div class="row content-row"
                                                        *ngFor="let locations of selectedLocationsForCategories;let i=index">
                                                        <!-- {{selectedLocationsForCategories|json}} -->
                                                        <div class="row">
                                                            <div class="col-sm">
                                                                <label for="addressTitle"> Address Title</label>
                                                                <textarea name="addressTitle"
                                                                    class="form-control shadow-none" id="addressTitle"
                                                                    (change)="addressTitle($event,i)"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm">
                                                                <label for="suburban">Suburban</label>
                                                                <input type="text" name="suburban" id="suburban"
                                                                    (change)="suburban($event,i)"
                                                                    class="form-control shadow-none">
                                                            </div>
                                                            <div class="col-sm">
                                                                <label for="city">City</label>
                                                                <select name="city" id="city"
                                                                    class="form-control shadow-none"
                                                                    (change)="cityHandler($event,i)">
                                                                    <option [ngValue]="locations.city">
                                                                        {{locations.city}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm"><label for="state">State</label><select
                                                                    name="state" id="state"
                                                                    class="form-control shadow-none"
                                                                    (change)="stateHandler($event,i)">
                                                                    <option [ngValue]="locations.state">
                                                                        {{locations.state}}
                                                                    </option>
                                                                </select></div>
                                                            <div class="col-sm"><label
                                                                    for="country">Country</label><select name="country"
                                                                    id="country" class="form-control shadow-none"
                                                                    (change)="countryHandler($event,i)">
                                                                    <option [ngValue]="locations.country">India</option>
                                                                </select></div>
                                                            <div class="col-sm"><label
                                                                    for="pincode">Pincode</label><input type="number"
                                                                    name="pincode" id="pincode"
                                                                    class="form-control shadow-none" [value]="" max="6"
                                                                    (change)="pincodeHandler($event,i)"></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm">
                                                                <label for="fromTime">From Time</label>
                                                                <input type="time" name="fromTime"
                                                                    class="form-control shadow-none" id="fromTime"
                                                                    (change)="fromTime($event,i)">
                                                            </div>
                                                            <div class="col-sm">
                                                                <label for="toTime">To Time</label>
                                                                <input type="time" name="toTime"
                                                                    class="form-control shadow-none" id="toTime"
                                                                    formControlName="toTime"
                                                                    (change)="toTime($event,i)">
                                                            </div>
                                                            <div class="col-sm"><label for="fromDay">From Day</label>
                                                                <select name="fromDay" id="fromDay"
                                                                    class="form-control shadow-none"
                                                                    (change)="fromDay($event,i)">
                                                                    <option value=""></option>
                                                                    <option *ngFor="let days of daysOfWeek"
                                                                        [value]=days.name>
                                                                        {{days.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm">
                                                                <label for="toDay">To Day</label>
                                                                <select name="toDay" id="toDay"
                                                                    class="form-control shadow-none"
                                                                    (change)="toDay($event,i)">
                                                                    <option value=""></option>
                                                                    <option *ngFor="let days of daysOfWeek"
                                                                        [value]=days.name>
                                                                        {{days.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm">
                                                                <label for="firstName">First Name</label>
                                                                <input type="text" name="firstName" id="firstName"
                                                                    class="form-control shadow-none" [value]=""
                                                                    (change)="firstName($event,i)">
                                                            </div>
                                                            <div class="col-sm">
                                                                <label for="lastName">Last Name</label>
                                                                <input type="text" name="lastName" id="lastName"
                                                                    class="form-control shadow-none" [value]=""
                                                                    (change)="lastName($event,i)">
                                                            </div>
                                                            <div class="col-sm">
                                                                <label for="phone">Phone No</label>
                                                                <input type="number" name="phone" id="phone" min=""
                                                                    max="" class="form-control shadow-none" [value]=""
                                                                    (change)="phone($event,i)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <p>Working Hours</p><div class="row workingHrs-row"><div class="col-sm"></div></div> -->
                                    <p>Business URLs</p>
                                    <div class="row businessUrl-row">
                                        <div class="col-sm">
                                            <label for="Youtube">Youtube</label>
                                            <input type="text" name="Youtube" class="form-control shadow-none"
                                                id="Youtube" (change)="youtubeURL($event)">
                                        </div>
                                        <div class="col-sm">
                                            <label for="Instagram">Instagram</label>
                                            <input type="text" name="Instagram" class="form-control shadow-none"
                                                id="Instagram" (change)="instaURL($event)">
                                        </div>
                                        <div class="col-sm">
                                            <label for="Twitter">Twitter</label>
                                            <input type="text" name="Twitter" class="form-control shadow-none"
                                                id="Twitter" (change)="twitterURL($event)">
                                        </div>
                                        <div class="col-sm">
                                            <label for="Whatsapp">Whatsapp</label>
                                            <input type="text" name="Whatsapp" class="form-control shadow-none"
                                                id="Twitter" (change)="whatsappURL($event)">
                                        </div>
                                    </div>
                                    <p>Attachments </p>
                                    <div class="row attachments-row">
                                        <p> First Photo is mandatory which will be used as Cover Photo</p>
                                        <div class="attach">
                                            <span>
                                                <a class="btn"> <input type="file" name="myfile" accept="image/*"
                                                        (change)="attchImage1($event,0)" /></a>
                                            </span>
                                            <span>
                                                <a class="btn">
                                                    <input type="file" name="myfile" accept="image/*"
                                                        (change)="attchImage2($event,1)" /></a>
                                            </span>
                                            <span>
                                                <a class="btn">
                                                    <input type="file" name="myfile" accept="image/*"
                                                        (change)="attchImage3($event,2)" /></a>
                                            </span>
                                            <span>
                                                <a class="btn">
                                                    <input type="file" name="myfile" accept="image/*"
                                                        (change)="attchImage4($event,3)" /></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row preview-row">
                                        <img id="image-preview-1" src="">
                                        <img id="image-preview-2" src="">
                                        <img id="image-preview-3" src="">
                                        <img id="image-preview-4" src="">
                                    </div><br>
                                    <a class="saveUpBtn" (click)="saveAndUpload()">Save and Upload</a>

                                </div>
                            </form>
                            <!-- {{this.selectedCategoriesFormName.value|json}} -->
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="serviceSubmit" (click)="serviceListingSubmit()" [disabled]="isDisabled">Create New Service</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <br>
</div>