<!-- <div class="container-fluid"> -->
<div class="card">
    <div class="card-body side-profile">
        <ul>
            <li><a routerLink='/account/my-profile' routerLinkActive="active">Your Profile</a>
            </li>
            <li><a routerLink='/account/categories' routerLinkActive="active" id="location"
                    (click)="fetchUserDetails()">Categories</a>
                <div id="loc-sug">
                    <!-- <ul>
                        <li>Business
                            <ol>
                                <li><a [routerLink]="['/account/categories','Education']"
                                        routerLinkActive="active">Education</a>
                                </li>
                                <li><a [routerLink]="['/account/categories','Food']" routerLinkActive="active">Food</a>
                                </li>
                            </ol>
                        </li>
                        <li>Social
                            <ol>
                                <li><a [routerLink]="['/account/categories','Social 1']"
                                        routerLinkActive="active">Social 1</a></li>
                                <li><a [routerLink]="['/account/categories','Social 2']"
                                        routerLinkActive="active">Social 2</a></li>
                            </ol>
                        </li>
                    </ul> -->

                    <ul *ngFor="let data of businessType.serviceCategory; let i=index">
                        <li>{{data.type}}
                            <ol>
                                <li><a [routerLink]="['/account/categories',data.category]"
                                        routerLinkActive="active">{{data.category}}</a></li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a routerLink='/account/plan-details' routerLinkActive="active">Plan Details</a></li>
            <li><a routerLink='/account/invite' routerLinkActive="active">Invite</a></li>
        </ul>
    </div>
</div>
<!-- </div> -->