<!-- <div class="container-fluid"> -->
<div class="card">
    <div class="card-body side-profile">
        <ul>
            <li><a routerLink='/account/my-profile' routerLinkActive="active">Your Profile</a>
            </li>
            <li><a routerLink='/account/categories' routerLinkActive="active" id="location">Categories</a>
                <div id="loc-sug">
                    <ul *ngFor="let data of businessType; let i=index">
                        <li>{{data.type}}
                            <ol>
                                <li>
                                    <a [routerLink]="['/account/categories',data.category]" routerLinkActive="active"
                                        (click)="fetchServiceByCatName(data.category)">{{data.category}}</a>
                                    <!-- <a routerLinkActive="active"
                                        (click)="fetchServiceByCatName(data.category)">{{data.category}}</a> -->
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a routerLink='/account/plan-details' routerLinkActive="active">Plan Details</a></li>
            <li><a routerLink='/account/invite' routerLinkActive="active">Invite</a></li>
        </ul>
    </div>
</div>
<!-- </div> -->