<div class="container-fluid">
    <app-header></app-header>
    <div class="row">
        <div class="col-3">
            <app-side-prof></app-side-prof>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="listing-details-tabs">
                    <input type="radio" name="listing-details-tabs" id="listing-details-tabs-1" value="" checked>
                    <label for="listing-details-tabs-1">Active</label>
                    <input type="radio" name="listing-details-tabs" id="listing-details-tabs-2" value="">
                    <label for="listing-details-tabs-2">Expired</label>
                    <div id="listing-details-tabs-content-1">

                    </div>
                    <div id="listing-details-tabs-content-2">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
</div>