<div class="container-fluid">
    <div class="row search_location">
        <div class="col-1"></div>
        <div class="col-3">
            <!-- <input type="text" autocomplete="on" aria-autocomplete="list"
                aria-controls="react-autowhatever-city-auto-suggest" aria-label="City Auto-suggest" id="city-auto-sug">
            <div class="loc-sug">
                <button class="detect-loc">Detect Location</button>
                <p>Recent Locations</p>
                <ul *ngFor="let loc of locations">
                    <li><a href="#">{{loc.name}}</a></li>
                </ul>
            </div> -->
            <div class="dropdown-location">
                <!-- <button (click)="myFunction()" class="dropbtn"> -->
                <span>
                    <img src="../../../assets/icons/geo-alt (2).png" alt="">
                    <input type="search" class="form-control shadow-none dropbtn" (click)="myFunction()" name="" id=""
                        [(ngModel)]="currentLocName" (change)="geocodeLocation($event)">
                </span>
                <!-- </button> -->
                <div id="myDropdown-location" class="dropdown-content">
                    <button class="btn detect-loc">Detect Location</button>
                    <p>Recent Locations</p>
                    <span *ngFor="let item of recLocations;let i=index">
                        <!-- <ul *ngFor="let item of recLocations;let i=index">
                            <li>{{item.locationName}}</li>
                        </ul> -->
                        <a [href]="['/services/allServices',item.locationName]">{{item.locationName}}</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-7 search">
            <input type="search" class="form-control shadow-none" [(ngModel)]="searchQuery" name="searchQuery" id="searchQuery" (change)="search($event)">
        </div>
        <div class="col-1"></div>
    </div>
</div>